
.open-sidebar
{
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(100%);
    width: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pointer
{
    cursor: pointer;
}
.sidebar
{
    transition: .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transform: translateX(-100%);
    z-index: 99999;
    background-color: #007BFF;
}
.sidebar.show 
{
    transform: translateX(0);
}
.sidebar .inner-sidebar
{
    opacity: 0;
    transition: .3s;
}
.sidebar.show .inner-sidebar
{
    opacity: 1;
}
.sidebar.show .inner-sidebar .side-head
{
    background-color: #0972e2;
}
.sidebar.show .inner-sidebar .side-content
{
    overflow: hidden;
    max-height: 83vh;
    overflow-y: auto;
}
.sidebar.show .inner-sidebar .side-content .image
{
    width: 100%;
}

.sidebar .brand-name
{
    font-size: 2rem;
}
.sidebar .brand-name .icon
{
    width: 50px;
}